body{
    background: #000 url(https://rawgithub.com/yykozy/hair-arrange/master/img/snow-a3.png) repeat fixed right bottom;
}
div#top{
    text-align: left;
}
#header{
    position:relative;
    width: 980px;
    margin: 10px auto 0 auto;
}
.hr{
    position:relative;
    clear:both;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/water01.png) repeat scroll left top;
    text-align: left;
    width:auto;
    height:30px; 
}
.hr p{
    float:left;
    margin-right:20px;
    margin-left:20px;
    color:#000;
}
.logo{
    float: left;
}
.logo .top-logo{
	height: 70px;
}
.sub{
    float:left;
}
.sub p{
    float: left;
    text-align:center;
    margin: 0px 0px 0px 0px;
}
.hiyoko{
    float:left;
    margin-top:40px;
    margin-bottom:0;
    width: 200px;
    height:45px;
}
.kanban{
    float:left;
    height:90px;
}
.slink{
    float:left;
}
#main{
    clear:both;
    position:relative;
    width: 980px;
    margin: 0 auto;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#left{
    float:left;
    width:380px;
}
#right{
    float:left;
    width:550px;
}
#slideshow{
    position:relative;
    background:
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_01.png) no-repeat scroll left top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_03.png) no-repeat scroll right top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_07.png) no-repeat scroll left bottom,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_09.png) no-repeat scroll right bottom;
    height:350px;
    width:350px;
}

#slideshow div.top{
    position:absolute;
    top:0px;
    left:42px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_02.png) repeat scroll top left;
    height:37px;
    width:266px;
}
#slideshow div.left{
    position:absolute;
    top:37px;
    left:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_04.png) repeat scroll top left;
    height:276px;
    width:42px;
}
#slideshow div.right{
    position:absolute;
    top:37px;
    right:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_06.png) repeat scroll top left;
    height:276px;
    width:42px;
}
#slideshow div.bottom{
    position:absolute;
    bottom:0px;
    left:42px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/lace_01/lace_08.png) repeat scroll top left;
    height:37px;
    width:266px;
}

#slideshow ul{
    display: block;
}
#slideshow ul li{
    padding: 26px;
    position:absolute;
    top:0px;
    left:0px;
    margin:0;
}
#slideshow ul li img{
    position:absolute;
}

section{
}
section.news{
    clear:both;
    position: relative;
    width:350px;
}

section.news article p.title{
    position:relative;
    left:10px;
    width:320px;
    font-family:'Times New Roman','ＭＳ Ｐ明朝',serif;
    width:320px;
}
section.news article p.date{
    position:relative;
    font-size:12px;
    left:10px;
    top:10px;    
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
section.news article p.new:after{
    margin:5px 5px;
    content: url(http://static.tumblr.com/bhwyguc/SFFmwezna/new021_18.gif);
}
section.news article p img{
    height:100px;
    width:100px;
    float:left;
    margin:0px 15px 0px 0px; 
    border-radius: 4px;
}


section.staff div.info div p.staff_logo{
    position:absolute;
    background: url(http://rawgithub.com/yykozy/hair-arrange/master/img/staff_logo06.png) no-repeat scroll top left;
    background-size: 140px 40px;
    left:15px;
    width:140px;
    height:40px;
}
section.staff div.info div.center p.text{
    position:absolute;
    top:40px;
    left:20px;
    width:330px;
    font-family:'Times New Roman','ＭＳ Ｐ明朝',serif;
}
section div.info{
    position:relative;
    background:
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/1.png) no-repeat scroll left top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/3.png) no-repeat scroll right top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/7.png) no-repeat scroll left bottom,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/9.png) no-repeat scroll right bottom;
    width:350px;
    height:100px;
}
section div.info div.pin{
    position:absolute;    
    background:  url(https://rawgithub.com/yykozy/hair-arrange/master/img/pin01.png) no-repeat scroll center;
    height:22px;
    width:19px;
    left:165px;
    top:10px;
}
section div.info div.pin2{
    position:absolute;    
    background:  url(http://rawgithub.com/yykozy/hair-arrange/master/img/pin02.png) no-repeat scroll center;
    height:22px;
    width:19px;
    left:165px;
    top:10px;
}
section div.info div.top{
    position:absolute;
    top:0px;
    left:54px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/2.png) repeat scroll top left;
    height:52px;
    width:243px;
}

section div.info div.center{
    z-index:1000;
    position:absolute;
    padding:10px;
}
section div.info div.left{
    position:absolute;
    top:52px;
    left:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/4.png) repeat scroll top left;
    height:0px;
    width:54px;
}
section div.info div.right{
    position:absolute;
    top:52px;
    right:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/6.png) repeat scroll top right;
    height:0px;
    width:53px;
}
section div.info div.bottom{
    position:absolute;
    bottom:0px;
    left:54px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/8.png) repeat scroll bottom left;
    height:54px;
    width:243px;
}
section div.info div p{
/*    margin:15px;*/
}
/******************************/
section.news2{
    clear:both;
    position: relative;
    width:750px;
}

section.news2 article p.title{
    left:80px;
}
section.news2 article p.date{
    font-size:15px;
    left:80px;
    top:80px;    
}
section.news2 article p.new:after{
    margin:5px 5px;
    content: url(http://static.tumblr.com/bhwyguc/SFFmwezna/new021_18.gif);
}

section.news2 article p img{
    max-width: 125px;
}

section.news2 article div.title{
    font-size:1.5em;
    font-weight:bold;
    margin-bottom:3px;
}

section.news2 div.info{
    position:relative;
    background:
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/1.png) no-repeat scroll left top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/3.png) no-repeat scroll right top,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/7.png) no-repeat scroll left bottom,
        url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/9.png) no-repeat scroll right bottom;
    width:750px;
/*    height:500px;*/
}
section.news2 div.info div.pin{
    position:absolute;    
    background:  url(https://rawgithub.com/yykozy/hair-arrange/master/img/pin01.png) no-repeat scroll center;
    height:22px;
    width:19px;
    left:165px;
    top:10px;
}
section.news2 div.info div.pin2{
    position:absolute;    
    background:  url(http://rawgithub.com/yykozy/hair-arrange/master/img/pin02.png) no-repeat scroll center;
    height:22px;
    width:19px;
    left:365px;
    top:10px;
}
section.news2 div.info div.top{
    position:absolute;
    top:0px;
    left:54px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/2.png) repeat scroll top left;
    height:52px;
    width:643px;
}

section.news2 div.info div.center{
    z-index:1000;
    position:absolute;
    top:52px;
    left:54px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/5.png) repeat scroll top left;
/*    height:394px;*/
    width:643px;
}

section.news2 div.info div.left{
    position:absolute;
    top:52px;
    left:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/4.png) repeat scroll top left;
/*    height:394px;*/
    width:54px;
}

section.news2 div.info div.right{
    position:absolute;
    top:52px;
    right:0px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/6.png) repeat scroll top right;
/*    height:394px;*/
    width:53px;
}
section.news2 div.info div.bottom{
    position:absolute;
    bottom:0px;
    left:54px;
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/yellow/8.png) repeat scroll bottom left;
    height:54px;
    width:643px;
}

section.news2 div.info div p{
    margin:15px;
}

section.news2 p.p1 img{
    margin-top:15px;
}
section.news2 p img{
    float:left;
    margin-left :15px;
}

/******************************/

section.staff2{
    clear:both;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    padding:10px;
    margin: 10px;
    position: relative;
}
section.staff2 li{
    list-style-type: square;
}

.mailformasp_error_text{
    color:red;
}
section.gallery{
    float:right;
    width:550px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border-radius: 4px 4px 4px 4px;
    margin: 10px;
    height:auto;
}
section.gallery ul{
    clear:both;
    margin:0px;
    padding:0px;
}
li {
    list-style-type: none;
}

section.gallery ul li.filter{
    float:left;
    margin:3px;
}

section.gallery ul#mix-filter{
    margin-bottom:10px;
}
section.gallery ul#mix-grid{
    overflow:hidden;
    position:absolute;
}
.mix{
    opacity: 0;
    display: none;
    float: left;
    background: none repeat scroll 0 0 rgba(0, 68, 253, 0.51);
    border-radius: 4px 4px 4px 4px;
    margin: 5px;
    padding: 2px;
    position: relative;
    width:79px;
    height:79px;
}

.mix img{
    border-radius: 4px 4px 4px 4px;
    width:75px;
    height:75px;
}
.mix img:hover{
    cursor:pointer;
}

#column {
    clear:both;
    background: none repeat scroll 0 0 rgba(94, 187, 255, 0.6);
    border-radius: 4px 4px 4px 4px;
/*
    padding: 10px;
    margin: 10px;*/
    width:980px;
    height:100px;
    margin: 0 auto;
}
/********* HOWTO ***********/
section.howto{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.howto article{
    width:100px;
}

/********* STORY ***********/
section.story{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.story article{
    width:100px;
}

/********* ABOUT ***********/
section.about{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.about article{
    width:100px;
}

/********* FB ***********/
section.fb{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.fb article{
    width:100px;
}
/********* FOOTER ***********/
#footer div{
    float:right;
}

section.fb article{
    width:100px;
}

#modal{
    display:none;
    margin:0 auto;
}
.modalBody{
    position: relative;
    z-index:1000;
    background: #FFFFFF;
    /*width:600px;*/
    width:800px;
    top:100px;
    margin:0 auto;
    padding:10px;
    border-radius: 8px;
}
.maskBK{
    position: fixed;
    z-index:999; 
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:#000; opacity: 0.9;filter: alpha(opacity=90);-moz-opacity:0.90;margin:0px;padding:0px;}
.close{cursor: pointer;}

#modalImg img.top{
}
#modalImg{
    clear:both;
}
.modalBody img{
}

.badge-warning{
    background-color:#ff9d00;
}
.badge-danger{
    background-color:#ff8383;
}
.copy{
    font-size:0.7em;
        margin:0px;
}
h1{
    font-size:0.1px;
    height:0.1px;
    margin:0px;
    display:none;
}

#indicator{
    margin-top:100px;
    display:none;
}
.loading_text{
    text-align:center;
}
.loading_heart{
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/loading_heart.gif) no-repeat scroll center transparent;
    height:50px;
}
a.thumbnail{
    position:relative;
}