body{
/*    background: #000 url(http://localhost/hair-arrange/img/c1.png) repeat fixed right bottom;*/
/*
    background: url(http://localhost/hair-arrange/img/park.jpg) no-repeat fixed center;
    background-size:cover;
*/
        background: #000 url(https://rawgithub.com/yykozy/hair-arrange/master/img/snow-a3.png) repeat fixed right bottom;
/*    background: #000 url(http://static.tumblr.com/bhwyguc/Kzqmweza0/9.png) repeat fixed right bottom;*/
    /*background:rgba(170, 195, 252, 0.44);*/

}
div#top{
/*    background-color: rgba(250, 53, 6, 0.3);*/
    text-align: left;

}
#header{
/*    clear:both;
    float:left;*/
    position:relative;
/*    margin-top:10px;*/
    width: 980px;
    margin: 10px auto 0 auto;
/*    background-color: #fff;*/
}
.hr{
    position:relative;
    clear:both;
/*    float:left;*/
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/water01.png) repeat scroll left top;
/*    background: #000 url(http://localhost/hair-arrange/img/K6.png) repeat fixed right bottom;*/
/*
    background: #000 url(http://static.tumblr.com/bhwyguc/fPrmwezms/k6.png) repeat fixed right bottom;
    margin: 0 auto;
*/
    text-align: left;
/*    width: 980px;*/
    width:auto;
    height:30px; 
}
.hr p{
    float:left;
    margin-right:20px;
    margin-left:20px;
    color:#000;
}
.logo{
    float: left;
}
.logo .top-logo{
	height: 70px;
}
.sub{
    float:left;
}
.sub p{
    float: left;
/*    vertical-align: middle;*/
    text-align:center;
    margin: 0px 0px 0px 0px;
}
.hiyoko{
    float:left;
    margin-top:40px;
    margin-bottom:0;
    width: 200px;
    height:45px;
}
.kanban{
    float:left;
    height:90px;
}
.slink{
    float:left;
/*    text-align:right*/
}
#main{
    clear:both;
/*    float:left;*/
    position:relative;
/*    height: 350px;*/
    width: 980px;
    margin: 0 auto;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#left{
    float:left;
/*    width:350px;*/
}
#right{
    float:left;
}
#slideshow{
/*
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.44);
*/
    border-radius: 4px 4px 4px 4px;
    margin:10px 10px 30px 10px;
/*    background: url(http://localhost/hair-arrange/img/hagire_blue01.png) no-repeat scroll center;*/
    background-size:contain;
    height:300px;
    width:300px;    
}
#slideshow ul{
    position:relative;
    display: block;
    margin:0 5 0 0 ;
/*
    width:300px;
    height:300px;
*/
}
#slideshow ul li{
    position:absolute;
    top:0px;
    left:0px;
    margin:0;
    padding:0;
    */
    /*
    margin-left: auto;
    margin-right: auto;
    text-align: center;
*/
}

section{
/*
    background: #000 url(http://localhost/hair-arrange/img/9.png) repeat fixed right bottom;
*/
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}
section.news{
    clear:both;
/*    
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.44);
*/
    background: #000 url(https://rawgithub.com/yykozy/hair-arrange/master/img/2.png) repeat scroll right bottom;
    border-radius: 4px 4px 4px 4px;
    padding:10px;
    margin: 10px;
    position: relative;
}
section.news article{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    margin: 3px 3px 5px 3px;
    padding: 15px;
/*    height:50px;*/
/*    border: solid 1px rgb(0,0,0);*/
    font-family:'Times New Roman','ＭＳ Ｐ明朝',serif;
}
section.news article span{
/*    border: 1px dotted #919191;*/
    float: left;
    margin: 5px;
}
section.news article p{
    margin:5px;
}
section.news article p.date{
    font-size:12px;
}
section.news article p.new:after{
    margin:5px 5px;
    content: url(http://static.tumblr.com/bhwyguc/SFFmwezna/new021_18.gif);
}
section.news article p img{
    height:100px;
    width:100px;
    float:left;
    margin:0px 15px 0px 0px; 
    border-radius: 4px;
}
section.news article div.title{
/*    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;*/
    font-size:1.5em;
    font-weight:bold;
/*    font-family:'Times New Roman','ＭＳ Ｐ明朝',serif;*/
    margin-bottom:3px;
}

section.gallery{
    float:right;
    width:600px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border-radius: 4px 4px 4px 4px;
/*    padding: 20px;*/
    margin: 10px;
    height:auto;
/*    height:1000px;*/
/*
    position: relative;
*/
}
/*
section.gallery p{
    margin:0;
    padding:0;
}
*/
section.gallery ul{
    clear:both;
    margin:0px;
    padding:0px;
}
li {
    list-style-type: none;
}

section.gallery ul li.filter{
    float:left;
/*    font-size:smaller;*/
    margin:3px;
}

section.gallery ul#mix-filter{
/*    height:20px;*/
    margin-bottom:10px;
}
section.gallery ul#mix-grid{
    overflow:hidden;
    position:absolute;
/*    top:120px;*/
}
.mix{
    opacity: 0;
    display: none;
    float: left;
    background: none repeat scroll 0 0 rgba(0, 68, 253, 0.51);
    border-radius: 4px 4px 4px 4px;
    margin: 5px;
    padding: 2px;
    position: relative;
    width:79px;
    height:79px;
}

.mix img{
    border-radius: 4px 4px 4px 4px;
    width:75px;
    height:75px;
}
.mix img:hover{
    cursor:pointer;
}

#column {
    clear:both;
    background: none repeat scroll 0 0 rgba(94, 187, 255, 0.6);
    border-radius: 4px 4px 4px 4px;
/*
    padding: 10px;
    margin: 10px;*/
    width:980px;
    height:100px;
    margin: 0 auto;
}
/********* HOWTO ***********/
section.howto{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.howto article{
    width:100px;
}

/********* STORY ***********/
section.story{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.story article{
    width:100px;
}

/********* ABOUT ***********/
section.about{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.about article{
    width:100px;
}

/********* FB ***********/
section.fb{
    float:left;
    background: none repeat scroll 0 0 rgb(255, 255, 24);
    margin: 0 10px 0 0;
    padding: 5px;
    border: dashed 1px rgb(0,0,0);
    width:20%;
}
section.fb article{
    width:100px;
}
/********* FOOTER ***********/
#footer div{
    float:right;
}
/*#footer{
    float:left;
    width:980px;
    background: none repeat scroll 0 0 rgba(255, 255, 24, 0.37);

    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    margin: 10px;
    height:30px;
    width:100%;
}*/

section.fb article{
    width:100px;
}

#modal{display:none;}
.modalBody{
    position: absolute;
    z-index:1000;
    background: #FFFFFF;
    /*width:600px;*/
    width:800px;
    top:10%;
    margin:0 auto;
    padding:10px;
    border-radius: 8px;
}
.maskBK{
    position: fixed;
    z-index:999; 
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:#000; opacity: 0.9;filter: alpha(opacity=90);-moz-opacity:0.90;margin:0px;padding:0px;}
.close{cursor: pointer;}

#modalImg img.top{
}
#modalImg{
    clear:both;
/*    margin:5px;*/
}
.modalBody img{
/*    border:1px #000 solid;    */
}

.badge-warning{
    background-color:#ff9d00;
}
.badge-danger{
    background-color:#ff8383;
}
.copy{
    font-size:0.7em;
        margin:0px;
}
h1{
    font-size:0.1px;
    height:0.1px;
    margin:0px;
    display:none;
}

#indicator{
    margin-top:100px;
    display:none;
}
.loading_text{
    text-align:center;
}
.loading_heart{
    background: url(https://rawgithub.com/yykozy/hair-arrange/master/img/loading_heart.gif) no-repeat scroll center transparent;
    height:50px;
}
